<div class="cold-staking section">
  <header>
    <div class="subtitle">Staking</div>
  </header>

  <mat-card *ngIf="_stake.stakingEnabled" class="staking-node inactive">
    <button mat-raised-button color="primary" (click)="openUnlockWalletModal()" matTooltip="Unlock wallet to enable staking">
      <mat-icon fontSet="partIcon" fontIcon="part-lock"></mat-icon>
    </button>
    <div class="title">Staking Node</div>
    <div class="subtitle">Unlock to check</div>
  </mat-card>

  <mat-card *ngIf="!_stake.stakingEnabled" class="staking-node inactive">
    <div class="title">Staking Node</div>
    <div class="subtitle">Inactive</div>
    <p>If your account is not able to stake please wait for up to 200 confirmations on the blockchain for your coins to mature (become eligible to stake). If the issue persists please try relaunching your wallet client.</p>
  </mat-card>

  <!-- Edit cold stake key, might be useful for later.
  <mat-card *ngIf="false" class="staking-node">
    <div class="title">
      Cold Staking Node <span class="status active">active</span>
    </div>
    <button class="mat-button secondary pull-left" (click)="openstakeModal()" matTooltip="Edit Cold Staking node key">
      <mat-icon fontSet="partIcon" fontIcon="part-pen-1"></mat-icon>
    </button>
  </mat-card> -->


  <!-- if cold staking is in progress & wa -->
  <mat-card *ngIf="_stake.stakingEnabled && (checkLockStatus()" class="staking-node active">
    <div class="title">Staking Node</div>
      <span>Staking</span>
    </div>

  <!-- if wallet is locked, & under < 100% progress -->
  <mat-card *ngIf=" _stake.stakingEnabled && !checkLockStatus()" class="staking-node warning">
    <div class="title">Staking Node</div>
    <div class="subtitle in-progress">
      <strong>Paused</strong> &ndash; Wallet locked
    </div>
  </mat-card>


  <!-- if Cold staking is at 100% show Disable button etc.
  <mat-card *ngIf="????" class="staking-node">
    <div class="title">
      Cold Staking Node <span class="status inactive">active</span>
    </div>
    <button class="mat-raised-button mat-primary pull-left" (click)="??????" matTooltip="Disable Cold Staking">
      <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
    </button>
  </mat-card>
  <p class="widget-help">
    You can now turn of this wallet as cold staking is fully activated.
  </p-->


</div><!-- .cold-staking -->
