<div class="staking-info section">
  <header>
    <div class="subtitle">Staking stats</div>
  </header>
  <mat-card class="staking-overview">
    <div class="row">
      <div class="key">Year Stake percentage</div>
      <div class="value">{{ curStakeReward.getIntegerPart() }}&nbsp;%</div>
    </div>
  </mat-card>

  <div *ngIf="_coldstake.coldStakingEnabled">
    <div class="subtitle">Cold Staking</div>
    <mat-card class="staking-overview">
      <div class="row">
        <div class="key">Next reward</div>
        <div class="value">~{{ coldexpectedtime.getShortReadableDuration() }}</div>
      </div>
      <mat-divider></mat-divider>
      <div class="row">
        <div class="key">Your Stake weight</div>
        <div class="value">{{ coldStakeWeight.getIntegerPart() }}.<small>{{ coldStakeWeight.getFractionalPart() }}</small>&nbsp;%</div>
      </div>
    </mat-card>
  </div>

  <div *ngIf="_stake.stakingEnabled && !_stake.isLocked()">
    <div class="subtitle">Hot Staking</div>
    <mat-card class="staking-overview">
      <div class="row">
        <div class="key">Next reward</div>
        <div class="value">~{{ hotexpectedtime.getShortReadableDuration() }}</div>
      </div>
      <mat-divider></mat-divider>
      <div class="row">
        <div class="key">Your Stake weight</div>
        <div class="value">{{ hotStakeWeight.getIntegerPart() }}.<small>{{ hotStakeWeight.getFractionalPart() }}</small>&nbsp;%</div>
      </div>
    </mat-card>
  </div>
</div>
