@import './src/assets/_config'; // import shared colors etc.
@import '../shared/shared.scss';

.mat-card {
  padding: 0;
}

.subtitle {
  font-size: 11px;
  margin-top: 14px;
  margin-bottom: 14px;
  text-transform: uppercase;
  color: #747c82;
  opacity: 0.55;
}

.staking-overview { // listing of staking stats
  width: 100%;
  .row {
    display: flex;
    .key {
      @extend %lighter;
      flex: auto;
      padding: 10px 5px 10px 20px;
    }
    .value {
      text-align: right;
      font-weight: 500;
      flex: auto;
      padding: 10px 20px 10px 5px;
    }
  }
}
