<div class="loading-wrapper">

  <img class="logo" src="assets/ghost-logo.svg">

  <div class="loader">
    <span>&bull;</span><span>&bull;</span><span>&bull;</span>
  </div>

  <div *ngIf="loadingMessage">
    <span><i>{{loadingMessage}}</i></span>
  </div>

  <div *ngIf="blockReceived != blockHeader">
    <p>Syncing with the network, {{blockReceived}}/{{blockHeader}} block(s) received.</p>
  </div>
  
  <blockquote class="quote">
    <p>&ldquo;{{johnQuote}}&ldquo;</p>
    <footer class="author">&mdash; John McAfee</footer>
  </blockquote>

</div>
