<div class="staking section">
  <header>
    <div class="subtitle">Staking</div>
  </header>

  <mat-card *ngIf="_stake.stakingEnabled && _stake.isStaking && !isLocked()" class="staking-node active">
    <button mat-raised-button color="primary" (click)="lockWallet()" matTooltip="Lock wallet disable staking">
      <img class="filter-white" src="assets/icons/SVG/monetization-on.svg"/>
    </button>
    <div class="title">Staking</div>
    <div class="subtitle">Active</div>
  </mat-card>

  <mat-card *ngIf="isLocked()" class="staking-node inactive">
    <button mat-raised-button color="primary" (click)="openUnlockWalletModal()" matTooltip="Unlock wallet to enable staking">
      <mat-icon fontSet="partIcon" fontIcon="part-lock"></mat-icon>
    </button>
    <div class="title">Staking</div>
    <div class="subtitle">Unlock to start staking</div>
  </mat-card>

  <mat-card *ngIf="_stake.stakingEnabled && !_stake.isStaking && !isLocked()" class="staking-node inactive">
    <div class="title">Not Staking</div>
    <div class="subtitle">Coins are not mature yet</div>
  </mat-card>

  <p class="widget-help" *ngIf="_stake.stakingEnabled && !_stake.isStaking && !isLocked()">
    If your account is not able to stake please wait for up to 255 confirmations on the blockchain for your coins to mature (become eligible to stake). If the issue persists please try relaunching your wallet client.
  </p>


  <p class="widget-help" *ngIf="_stake.stakingEnabled && _stake.isStaking && !isLocked() && _stake.hotstake.amount > 0">
    {{_stake.hotstake.amount}} of your balance is now staking.
  </p>


</div>
